<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">
		</head>
		<body>
			<nav class="navbar navbar-expand-lg navbar-light bg-light border">
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
				  <ul class="navbar-nav">
					<li class="nav-item active">
					  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="/blog">Blog</a>
					</li>
				  </ul>
				</div>
			  </nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer id="footer" class="footer fixed-bottom">
				<div class="row">
					<div class="col-12">
						<ul>
							<li>Email: <a href="mailto:sohweihaooo@gmail.com">sohweihaooo@gmail.com</a></li>
							<li>Linkedin: <a href="https://www.linkedin.com/in/soh-wei-hao">linkedin.com/in/soh-wei-hao</a></li>
							<li>Github: <a href="https://github.com/weihaooo">github.com/weihaooo</a></li>
						</ul>
					</div>
				</div>
			</footer>
			<script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
			<script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
			<script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
		</body>
	</html>