<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Email: <a href="mailto:sohweihaooo@gmail.com">sohweihaooo@gmail.com</a></li>
	        		<li>Linkedin: <a href="https://www.linkedin.com/in/soh-wei-hao">linkedin.com/in/soh-wei-hao</a></li>
	        		<li>Github: <a href="https://github.com/weihaooo">github.com/weihaooo</a></li>
				</ul>
			</footer>
		</body>
	</html>